@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Playfair+Display:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 2fr 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-template-areas:
    "sidebar main content"
    "sidebar main content"
    "sidebar catagories catagories";
  grid-gap: 0.1rem;
}
#sidebar {
  /*   background-color: aliceblue; */
  grid-area: sidebar;
}
#main {
  /*   background-color: rgb(124, 34, 34); */
  grid-area: main;
}
#content {
  /*   background-color: rgb(23, 59, 59); */
  grid-area: content;
}
#catagories {
  /*   background-color: rgb(118, 67, 59); */
  grid-area: catagories;
}

.navbar {
  text-align: left;
  margin-left: 30px;
  margin-top: 30px;
}
.nav-list {
  text-align: left;
}
.nav-list li {
  list-style: none;

  margin: 10px;
  padding: 15px;
}
.navbar h1 {
  font-size: 42px;
  margin-left: 18px;
  margin-bottom: 0px;
  font-family: "Playfair Display", serif;
}
.nav-list li a {
  text-decoration: none;
  color: gray;
  font-family: "Ubuntu", sans-serif;
}
.btn {
  background-color: rgb(218, 59, 59);
  padding: 15px;
  width: 8rem;
  color: white;
  border-radius: 30px;
  border-style: none;
}
#main {
  padding-top: 100px;
}
#main h1 {
  font-size: 60px;
  font-family: "Playfair Display", serif;
}
.para {
  padding-top: 100px;
  text-align: left;
  line-height: 0.25in;
  color: gray;
}

.menu-items {
  display: flex;
  flex-direction: row;
}
.cards {
  margin: 0px 10px;
  /*   padding:0 30px; */

  height: 200px;
  width: 150px;
  background-color: aliceblue;
  text-align: center;
  border-radius: 12px;
  font-family: "Ubuntu", sans-serif;
}

.image img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.title {
  font-size: small;
}
.burger {
  display: none;
  position: absolute;
  left: 5%;
  top: 15px;
  cursor: pointer;
}
.line {
  width: 33px;
  margin: 5px 3px;
  height: 4px;
  background-color: rgb(218, 59, 59);
}
.l1 {
  width: 20px;
}
.l3 {
  width: 26px;
}
.hrline {
  width: 47px;
  margin: 5px 3px;
  height: 2px;
  background-color: rgb(218, 59, 59);
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    grid-template-areas:
      "sidebar"
      "main"
      "catagories"
      "content";
  }

  /* #sidebar {
    /*    height:100px; */
  /*     background-color:grey; */
  /* } */

  .nav-list {
    flex-direction: column;
  }
  .navbar {
    margin-top: 20px;
    height: 510px;
    flex-direction: column;
    transition: all 0.3s ease-out;
  }
  .burger {
    display: block;
    margin-top: 20px;
  }
  .h-nav {
    height: 62px;
  }
  .v-class {
    opacity: 0;
  }
  .hide {
    display: none;
  }
  .navbar h1 {
    text-align: center;
  }

  .menu-items {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    grid-gap: 0.5rem;
    /*     background-color:lightgreen; */
    padding: 60px;
  }
  .cards {
    margin-left: 0px;
    margin-right: 0px;
  }

  #main {
    /*     background-color: lightblue; */
    padding-top: 40px;
    margin-left: 25px;
  }
  #main h1 {
    font-size: 30px;
  }
  .para {
    padding-top: 10px;
    text-align: left;
    line-height: 0.25in;
    color: gray;
    margin-left: 25px;
    margin-right: 25px;
  }
}
